
<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    AngularJS Learning Sample
</head>
<body>
    @RenderBody()


    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/angular.min.js"></script>
    <script src="~/Script/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
