
<!DOCTYPE html>
<html>
<head>
    AngularJS Learning Sample
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()


    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
    <script src="~/Script/angular.min.js"></script>
    <script src="~/Script/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
